body {
    background: #ffffff;
    font-family: 'Montserrat', 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    border: 5px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}

.background {
    background-image: url(http://corbot5000.io/images/background.jpg);
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;

}

h1 {
    color: #000000;
    font-size: 40px;
    line-height: normal;
    padding: 15px
}

p {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding: 10px;
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid white;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

/*Nav Bar*/

.navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
}

.navigation a {
    background-color: #F5F5DC;
    color: black;
    display: block;
    padding: 18px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #ccc;
}

.navigation a.active {
    background-color: #29602A;
    color: white;
    text-decoration: underline;
}


/*Gallery*/

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
    margin: 1rem;
}


/*Resolution Adjustments*/

@media screen and (min-width: 600px) {
    .navigation {
        justify-content: space-around;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 2rem);
        margin: 1rem;
    }
}
