body {
    background: #F5F5DC;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/*Nav Bar*/

.vertical-nav {
  width: 100px;
}

.vertical-nav a {
  background-color: #F5F5DC;
  color: black; 
  display: block; 
  padding: 10px; 
  text-decoration: none; 
}

.vertical-nav a:hover {
  background-color: #ccc;
}

.vertical-nav a.active {
  background-color: #4CAF50; 
  color: white;
}
