body {
    background: #ffffff;
    font-family: 'Montserrat', 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    border: 5px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}

.background {
    background-image: url('../images/background.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;

}

h1 {
    color: #000000;
    font-size: 40px;
    line-height: normal;
    padding: 15px
}

p {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding: 10px;
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid white;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}

/*Nav Bar*/

.navigation {
    flex-flow: column wrap;
    padding: 0;
}

.navigation a {
    background-color: #F5F5DC;
    color: black;
    display: block;
    padding: 18px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #ccc;
}

.navigation a.active {
    background-color: #29602A;
    color: white;
    text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h1-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
/*Gallery*/

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
    margin: 1rem;
}

/*-Social Media-*/

.social-icon {
  position: relative;
  padding: 1vh;
  margin: 0;
  text-align: center;
}

.social-icon li {
  color: #454545;
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  color: #454545;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  margin: 0px 6px 10px 6px;
}

.social-icon li a:hover {
  background: #9B9B9B;
  color: #ffffff;
  transform: scale(1.1);
  top: -5px;
}

/*Resolution Adjustments*/

@media screen and (min-width: 600px) {
    .navigation {
        justify-content: space-around;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
}
    .h1-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
}
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 2rem);
        margin: 1rem;
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
}
}

/*Print Adjustments*/

@media print {
    header nav, footer {
    display: none;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cell {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
}

