
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body {
	background: #bae3f5;
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	overflow-x: hidden;
	height: 100%;
}

html {
	height: 100%;
}

/*-Skip to Content-*/

a.skip {
    position: relative;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
    
a.skip:focus, a.skip:active, a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}
    
/*-Typography-*/

h1 {
	color: #000000;
	font-style: normal;
	font-size: 45px;
	font-weight: bold;
}

h2 {
	color: #000000;
	font-style: normal;
	font-size: 30px;
	font-weight: normal;
	padding: 5px; 
}

h3 {
	color: #000000;
	font-style: normal;
	font-size: 25px;
	font-weight: normal;
	padding: 5px; 
}

h4 {
	color: #000000;
	font-style: normal;
	font-size: 18px;
	font-weight: normal;
	padding: 5px; 
}

h5 {
	color: #000000;
	font-style: normal;
	font-size: 20px;
	font-weight: bold; 
}

p {
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
}	

/*-Navigation Bar-*/

nav {
	width: 100%;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
}

.navbar :hover {
	background: #79c9ec;
	color: #fff;
}

.active {
    background-color: #17096A;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

ul li a {
	color: #17096A;
	text-decoration: none;
}

.toggle {
	width: 100%;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}

/*-Main Page Area-*/

.homebg {
	background-image: url('../images/Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.homemain {
	text-align: center;
}

.maintitle {
	text-align: center;
	bottom: 25px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 98%;
	clear: left;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content p, h2 {
	text-align: center;
	margin-left: 0;
	margin-top: 1vw;
	margin-right: 0;
}

.content .item p {
	text-align: left;
	margin-right: 2vw;
	margin-top: .5vw;
}

.about .item img {
	/*width: 75%;*/
	width: 20vw;
	margin-right: 2vw;
	margin-left: 2vw;
}

.item {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    margin-bottom: 2.5vh;
    margin-left: 0;
    margin-right: 0;
}

.pair {
	display: flex;
	flex-direction: column;
	border: none;
	margin-bottom: 0;
}

.gallery-flexcontainer {
	display: flex;
	margin: 15px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.gallery-img {
	width: auto;
	height: 300px;
	padding: 10px;	
}

.gallery-content {
	margin-left: 3px;
	padding: 5px;
	width: 195px;
	height: auto;
	text-align: center;
}

.story-img {
	width: auto;
	height: 500px;
	padding: 10px;
}

.print-img {
	width: auto;
	height: 400px;
	padding: 10px;
}

/*-Footer-*/

footer {
	display: grid;
	background: none;
	bottom: 0;
	width: 100%;
	height: 20px;
	padding: 10px;
	border: 15px;
	text-align: center;
}

/*-Social Media-*/

.social-icon {
  position: relative;
  padding: 1vh;
  margin: 0;
  text-align: center;
}

.social-icon li {
  color: #454545;
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  color: #454545;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  margin: 0px 6px 10px 6px;
}

.social-icon li a:hover {
  background: #9B9B9B;
  color: #ffffff;
  transform: scale(1.1);
  top: -5px;
}

/*-Mobile Responsive styles-*/

@media screen and (max-width: 600px) {
	.toggle {
		display: block;
	}
	
	ul {
		width 100%;
		diplay: none;
	}
	
	ul li {
		display: block;
		text-align: center;
	}
	
	.active {
		display: block;
	}
	
	.homebg {
		display: flex;
		align-items: center;
		flex-direction: column;
		
	}
	
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.content p, h2 {
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}

	.content .item p {
		text-align: center;
		margin-top: 2vh;
	}
	
	.content .about .pair .item img {
		width: 100%;
	}
	
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.pair {
		display: flex;
		flex-direction: column;
		border: none;
	}
}

@media screen and (max-width:800px) {
	.item {
		margin-right: 1vw;
		margin-left: 1vw;
		margin-top: 1vw;
	}

	.about .item img {
		width: 35vw;
	}

	.content p, h2 {
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}

	.pair {
		display: grid;
		padding: 1vh;
	}

	.pair h2 {
		display: grid;
		align-items: center;
		margin-right: 10vw;
		font-size: 35px;
	}
}

@media print {
	img {
/* 		display:none; */
		filter: grayscale(100%);
	}
}
